<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promoter/9-aprove-rental.css') }}">
</head>
<body>
    <div class="container">
        <h1>Nome</h1>
        <h1>Data</h1>
        <h1>Tamanho</h1>

        <form action="/" method="POST" class="form-container">
            <button type="submit">Devolver</button>
        </form>

        <form action="/" method="POST" class="form-container">
            <button class="btn-cancelar" type="submit">Cancelar</button>
        </form>
    </div>
</body>
</html>
