<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tênis Disponíveis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promoter/7-rental-list.css') }}">
</head>
<body>
<div class="container">
    <h1>Lista de locações</h1>
    <form action="/promoter/rentallist" method="POST">
        <table class="rental-table">
            <thead>
            <tr>
                <th>Tenis</th>
                <th>Usuario</th>
                <th>Promotor</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Status</th>
                <th>Local</th>
                <th>Estande</th>
            </tr>
            </thead>
            <tbody>
            {% for rental in rentals %}
            <tr>
                <td onfocusin="saveOldValue(this)" onfocusout="saveNewValue(this)">
                    <input type="number" value="{{ rental[1] }}">
                    <input type="hidden" value="{{ rental[0] }}">
                </td>

                <td>{{ rental[2] }}</td>
                <td>{{ rental[3] }}</td>
                <td>{{ rental[4] }}</td>
                <td>{{ rental[5] }}</td>
                <td>{{ rental[6] }}</td>
                <td>{{ rental[7] }}</td>
                <td>{{ rental[8] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit">Confirmar</button>
    </form>
</div>

<script>
    let oldValue;
    let newValue;
    let id;
    let intOldValue;
    let intNewValue

    function saveOldValue(input) {
        let inputs = input.getElementsByTagName('input');
        oldValue = inputs[0].value;
        id = inputs[1].value;
    }

    function saveNewValue(input) {
        let inputs = input.getElementsByTagName('input');
        newValue = inputs[0].value;
        intOldValue = parseInt(oldValue);
        intNewValue = parseInt(newValue);

        if (intOldValue != intNewValue) {
            increaseValue();
            decreaseValue();
            updateRental();
        }
    }

    function sendPost(route, data) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', route, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('POST enviado com sucesso');
            }
        };
        xhr.send(JSON.stringify(data));
    }

    function increaseValue() {
        if (newValue) {
            sendPost('/promoter/updatevalue', { tamanho: intOldValue, action: 'increase' });
        } else {
            console.log('Tamanho de aumento não definido');
        }
    }

    function decreaseValue() {
        if (oldValue) {
            sendPost('/promoter/updatevalue', { tamanho: intNewValue, action: 'decrease' });
        } else {
            console.log('Tamanho de diminuição não definido');
        }
    }

    function updateRental() {
        if (newValue) {
            sendPost('/promoter/update_rental', { newValue: intNewValue, oldValue: intOldValue, rental_id: id });
        } else {
            console.log('Tamanho de aumento não definido');
        }
    }

</script>
</body>
</html>
