<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotor - Começar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promoter/1-scan-start.css') }}">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{{url_for('static', filename='util.js')}}"></script>
    <script src="{{url_for('static', filename='js/promoter/8-scan-aprove-rental.js')}}"></script>
</head>
<body>
<div class="container">
    <h1 id="demo">Escaneie o QR CODE do usuário para aprovar a locação</h1><br>
    <div class="qr-code" id="reader"></div>

        <!--          TESTE FIM-->
    </div>
</div>

<script src="../../static/assets/components/logo.js"></script>
<script src="../../static/assets/components/button.js"></script>
</body>
</html>
