<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promoter/9-aprove-rental.css') }}">
</head>
<body>
<div class="container">
    <h1>{{ user_name }}</h1>
    <h1>{{ start_date }}</h1>
    <h1>{{ size }}</h1>

    <form action="/promoter/aproverental" method="POST" class="form-container">
        <button type="submit">Aprovar</button>
    </form>


    <a href="{{ url_for('promoter.promoter_menu_page') }}">
        <button class="btn-cancelar" type="submit">Cancelar</button>
    </a>

</div>
</body>
</html>
