body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.qr-code {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #ccc;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Cor de fundo do container do QR Code */
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #218838;
}

