body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.tenis-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.tenis-table th, .tenis-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tenis-table th {
    background-color: #1a1a1a;
    font-weight: bolder;
}

.tenis-table tbody tr:nth-child(even) {
    background-color: #575757;
}


