body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

.form-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancelar{
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #f52e2e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

    button:hover {
        background-color: #0056b3;
    }
