<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tela Moderna</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clock.css') }}">
</head>
<body>

<div class="container">
  <h2>Você ainda tem</h2>
  <h1>38 min</h1>
  <h2>para experimentar o seu Supernova</h2>
    <a href="{{ url_for('user.submit_review_page') }}"><button>Devolver o tênis</button></a>
</div>

</body>
</html>
