<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimentar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mock/time_use.css') }}">
</head>
<body>
    <div class="container">
        <div class="text">
            <p>Você terá 45 minutos para experimentar</p>
            <a href="{{ url_for('user.user_register_page') }}"><button>Continuar</button></a>
        </div>
    </div>
</body>
</html>
