body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Cor de fundo de exemplo */
}

.container {
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 10px 0;
  color: #007bff; /* Cor azul vibrante */
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333; /* Cor de texto padrão */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Altere a cor ao passar o mouse se desejar */
}
